<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ website_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/resume.css?q={{ rand_debugging }}" rel="stylesheet">
    <link href="static/css/slideshow.css?q={{ rand_debugging }}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- **********
    NAV BAR
    ****-->
    {% include "navbar.html" %}

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">{{ first_name }}
            <span class="text-primary">{{ last_name }}</span>
          </h1>
          <div class="subheading mb-5">{{ address }}· {{ phone_number }} ·
            <a href="mailto:name@email.com">{{ email }}</a>
          </div>
          <p class="mb-5">{{ bio }}</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="{{ fb_link }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
{#            <li class="list-inline-item">#}
{#              <a href="#">#}
{#                <span class="fa-stack fa-lg">#}
{#                  <i class="fa fa-circle fa-stack-2x"></i>#}
{#                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>#}
{#                </span>#}
{#              </a>#}
{#            </li>#}
            <li class="list-inline-item">
              <a href="{{ linkedin_link }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{ git_link }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>
          {{ experience_block | safe }}
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class="my-auto">
          <h2 class="mb-5">Projects</h2>
          {{ project_block | safe }}
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>
          {{ education_block | safe }}
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
           <!-- Can't think of a better way to do this -->
           <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i title="AWS" class="devicon-amazonwebservices-original"></i>
            </li>
            <li class="list-inline-item">
              <i title="Google Play Store" class="devicon-android-plain"></i>
            </li>
            <li class="list-inline-item">
              <i title="C#" class="devicon-csharp-plain"></i>
            </li>
            <li class="list-inline-item">
              <i title="C++" class="devicon-cplusplus-plain"></i>
            </li>
            <li class="list-inline-item">
              <i title="Git" class="devicon-git-plain"></i>
            </li>
            <li class="list-inline-item">
              <i title="Heroku" class="devicon-heroku-original"></i>
            </li>
            <li class="list-inline-item">
              <i title="MySQL" class="devicon-mysql-plain"></i>
            </li>
            <li class="list-inline-item">
              <i title="Python" class="devicon-python-plain"></i>
            </li>
            <li class="list-inline-item">
              <i title="Universal Windows Platform" class="devicon-windows8-original"></i>
            </li>
            <li class="list-inline-item">
              <i title="Unity 3D">
                {% include "unity_svg.html" %}
              </i>
            </li>
            <li class="list-inline-item">
              <i title="Unreal Engine 4">
                {% include "ue4_svg.html" %}
              </i>
            </li>
          </ul>

          <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Mobile-First, Responsive Design</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Browser Testing &amp; Debugging</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Functional Teams</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Agile Development &amp; Scrum</li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        {{ interests_block | safe }}
      </section>
{##}
{#      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="leaderboards">#}
{#        <div class="my-auto">#}
{#          <h2 class="mb-5">Awards &amp; Certifications</h2>#}
{#          <ul class="fa-ul mb-0">#}
{#            <li>#}
{#              <i class="fa-li fa fa-trophy text-warning"></i>#}
{#              Google Analytics Certified Developer</li>#}
{#            <li>#}
{#              <i class="fa-li fa fa-trophy text-warning"></i>#}
{#              Mobile Web Specialist - Google Certification</li>#}
{#            <li>#}
{#              <i class="fa-li fa fa-trophy text-warning"></i>#}
{#              1<sup>st</sup>#}
{#              Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>#}
{#            <li>#}
{#              <i class="fa-li fa fa-trophy text-warning"></i>#}
{#              1<sup>st</sup>#}
{#              Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>#}
{#            <li>#}
{#              <i class="fa-li fa fa-trophy text-warning"></i>#}
{#              2<sup>nd</sup>#}
{#              Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>#}
{#            <li>#}
{#            <li>#}
{#              <i class="fa-li fa fa-trophy text-warning"></i>#}
{#              1<sup>st</sup>#}
{#              Place - James Buchanan High School - Hackathon 2006</li>#}
{#            <li>#}
{#              <i class="fa-li fa fa-trophy text-warning"></i>#}
{#              3<sup>rd</sup>#}
{#              Place - James Buchanan High School - Hackathon 2005</li>#}
{#          </ul>#}
{#        </div>#}
{#      </section>#}

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/resume.min.js"></script>
    <script src="static/js/slideshow.js?q={{ rand_debugging }}"></script>
    <script src="static/js/readmore-js/readmore.min.js"></script>
    <script>
      $('article').readmore({
        speed: 75,
        lessLink: '<a href="#">Read less</a>'
      });
    </script>
  </body>

</html>
