<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#cc1a21">

    <title>{{ website_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/resume.css?q={{ rand_debugging }}" rel="stylesheet">
    <link href="static/css/slideshow.css?q={{ rand_debugging }}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- **********
    NAV BAR
    ****-->
    {% include "navbar.html" %}

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">{{ first_name }}
            <span class="text-primary">{{ last_name }}</span>
          </h1>
          <div class="subheading mb-5">{{ address }} · <a href="tel:{{ phone_number }}">{{ phone_number }}</a> ·
            <a href="mailto:{{ email }}">{{ email }}</a>
          </div>
          <p class="mb-5">{{ bio }}</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="{{ fb_link }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{ linkedin_link }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{ git_link }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>
          {{ experience_block | safe }}
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="games">
        <div class="my-auto">
          <h2 class="mb-5">Games</h2>
          {{ game_block | safe }}
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="tools">
        <div class="my-auto">
          <h2 class="mb-5">Developer Tools</h2>
          {{ tools_block | safe }}
        </div>
      </section>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="software">
        <div class="my-auto">
          <h2 class="mb-5">Software Tools</h2>
          {{ software_block | safe }}
        </div>
      </section>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>
          {{ education_block | safe }}
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
           <!-- Can't think of a better way to do this -->
           <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i title="AWS" class="devicon-amazonwebservices-original"></i>
            </li>
            <li class="list-inline-item">
              <i title="Google Play Store" class="devicon-android-plain"></i>
            </li>
            <li class="list-inline-item">
              <i title="C#" class="devicon-csharp-plain"></i>
            </li>
            <li class="list-inline-item">
              <i title="C++" class="devicon-cplusplus-plain"></i>
            </li>
            <li class="list-inline-item">
              <i title="Git" class="devicon-git-plain"></i>
            </li>
            <li class="list-inline-item">
              <i title="Heroku" class="devicon-heroku-original"></i>
            </li>
            <li class="list-inline-item">
              <i title="MySQL" class="devicon-mysql-plain"></i>
            </li>
            <li class="list-inline-item">
              <i title="Python" class="devicon-python-plain"></i>
            </li>
            <li class="list-inline-item">
              <i title="Universal Windows Platform" class="devicon-windows8-original"></i>
            </li>
            <li class="list-inline-item">
              <i title="Unity 3D">
                {% include "unity_svg.html" %}
              </i>
            </li>
            <li class="list-inline-item">
              <i title="Unreal Engine 4">
                {% include "ue4_svg.html" %}
              </i>
            </li>
          </ul>

          <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Mobile-First, Responsive Design</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Browser Testing &amp; Debugging</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Functional Teams</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Agile Development &amp; Scrum</li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="leaderboards">
        <div class="my-auto">
          <h2 class="mb-5">Leaderboards</h2>
          {{ leaderboard_block | safe }}
        </div>
      </section>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="resume">
        <div class="my-auto">
          <h2 class="mb-5">Resume</h2>
          <div class="inline-resume">
          <object class="inline-resume" data="http://connorparrish.portfolio.s3.amazonaws.com/wp‑content/2018/04/resume.pdf" type="application/pdf">
            <p>Looks like you don't have a PDF plugin on your browser! Not to worry, <a href="http://connorparrish.portfolio.s3.amazonaws.com/wp‑content/2018/04/resume.pdf">click here to download the file.</a></p>
          </object>
          </div>
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/resume.min.js"></script>
    <script src="static/js/readmore-js/readmore.min.js"></script>
    <script>
      $('article').readmore({
        speed: 75,
        lessLink: '<a href="#">Read less</a>'
      });
    </script>
  </body>

</html>
